
.improve-hero-section {
    position: relative;
    min-height: 764px;
    margin-top: 114px;

}


.improve-hero-section::after {
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('../images/improveHeroBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.improve-hero-mockup {
    width: 320px;
    height: 392px;
    z-index: 3;
}

.improve-hero-slider {
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 160px auto 0;

}

.improve-hero-body {
    position: relative;
    z-index: 3;
}

.improve-hero-mockup {
    position: absolute;
    left: 40%;
    top: -100px;
}

.improve-hero-card {
    position: relative;
    border-radius: 16px;
    animation: scroll-left 20s linear infinite;

}


.improve-hero-cards {
    gap: 12px;
    /*overflow: auto;*/

}


@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.improve-card-name {
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.75);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    width: max-content;
    border-radius: 100px;
    position: absolute;
    top: 8px;
    left: 8px;

}

.improve-card-name p {
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    opacity: .7;

}

.improve-hero-card {
    min-width: 256px;
    height: 256px;
}

.improve-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}




.improve-peculiarities-mockup {
    max-width: 800px;
    width: 100%;
    margin: 60px auto 0;
    position: relative;
}

.improve-peculiarities-mockup::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 140px;
    left: -100px;
    bottom: 0;
    background-image: url('../images/improveBlur.png');


}
.improve-peculiarities-icon{
    width: 60px;
    height: 60px;
    border-radius: 12px;
    position: relative;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.16);
    padding: 10px;

}
.improve-peculiarities-icon::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12px;
    padding: 2px;
    background: linear-gradient(105.61deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    box-shadow: 0px 0px 16px 0px rgba(99, 86, 254, 0.08);
    transition: .3s;
}

.icon-improve {
    font-size: 20px;
    background: linear-gradient(86.94deg, #6356FE 0.62%, #764AEF 30.62%, #8A3EDF 61.67%, #A330CB 99.38%);

}

.improve-peculiarities-item {
    max-width: 386px;
    width: 100%;
    position: absolute;
    background: rgba(30, 30, 32, 1);
    border-radius: 20px;
    box-shadow: 0px 0px 32px 0px rgba(99, 86, 254, 0.12);
    z-index: 2;
    height: auto;
    padding: 24px 24px 28px 24px;


}

.improve-peculiarities-item::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 1px;
    background: linear-gradient(86.94deg, rgba(99, 86, 254, 0.28) 0.62%, rgba(118, 74, 239, 0.28) 30.62%, rgba(138, 62, 223, 0.28) 61.67%, rgba(163, 48, 203, 0.28) 99.38%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: 1;
    transition: .3s;
}
.improve-peculiarities-description{
    margin-top: 20px;
}
.improve-tools-main{
    gap: 20px;
    width: 100%;
}
.improve-descr-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: var(--white);
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
    .improve-tools-main {
        flex-direction: column;
    }

}

@media (max-width: 992px) {
    .improve-tools-main {
        gap: 16px;
    }
}

@media (max-width: 768px) {
    .improve-peculiarities-item {
        position: initial;
        padding: 20px;
    }

}

@media (max-width: 576px) {

    .improve-peculiarities-description{
        margin-top: 16px;
    }
    .improve-peculiarities-icon{
        width: 48px;
        height: 48px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .improve-peculiarities-cnt{
        margin-top: -40px;
    }
    .improve-descr-title{
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
    }
}